body {
    background : #5cdb95 !important;
    color : #05386b
  
}

.header {
    background : #05386b;
    color : #EDF5E1;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 50px

}

.header-fav {
    background : #379863;
    color : #EDF5E1;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: double;
    border-color:#05386b ;


}


.imagediv {
    position: relative;
    transition: transform 0.2;
}


.imagediv:hover {
    cursor: pointer;
    transform: scale(1.05);
    
}

.imagediv:hover .overlay{

    opacity: 0.9
}

.overlay {
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 100%;
    transition: 0.1s ease;
    opacity: 0;
    bottom: 0;
    font-size: 30px;
    padding: 25px;
    text-align: center;
    color : #EDF5E1;
}
